In [2]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
import plotly.express as px

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [41]:
df = pd.read_csv('/home/enture/Documents/dec_18_31/0bb30a5b-a9e8-4199-8d95-cd7021f0f8ce_ampl_data.csv')
df.head()

,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671383880,2022-12-18 17:18:00+00,70.75817
0,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671383940,2022-12-18 17:19:00+00,70.157555
1,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384000,2022-12-18 17:20:00+00,68.815506
2,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384060,2022-12-18 17:21:00+00,69.799300
3,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384120,2022-12-18 17:22:00+00,70.068665
4,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384180,2022-12-18 17:23:00+00,70.299680

In [42]:
columns_name = ['Param_id', 'Workspace_Name', 'Meter_Name', 'Param_Name', 'Epoch', 'Timestamp', 'data']
df.columns = columns_name

In [43]:
df.head()

,Param_id,Workspace_Name,Meter_Name,Param_Name,Epoch,Timestamp,data
0,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671383940,2022-12-18 17:19:00+00,70.157555
1,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384000,2022-12-18 17:20:00+00,68.815506
2,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384060,2022-12-18 17:21:00+00,69.799300
3,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384120,2022-12-18 17:22:00+00,70.068665
4,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384180,2022-12-18 17:23:00+00,70.299680

In [44]:
df.isnull().sum()

Param_id          0
Workspace_Name    0
Meter_Name        0
Param_Name        0
Epoch             0
Timestamp         0
data              0
dtype: int64

In [45]:
df.shape

(33474, 7)

In [46]:
df['time'] = pd.to_datetime(df['Timestamp'])
df.set_index('Timestamp', inplace=True)
df.head()

,Param_id,Workspace_Name,Meter_Name,Param_Name,Epoch,data,time
Timestamp,,,,,,,
2022-12-18 17:19:00+00,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671383940,70.157555,2022-12-18 17:19:00+00:00
2022-12-18 17:20:00+00,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384000,68.815506,2022-12-18 17:20:00+00:00
2022-12-18 17:21:00+00,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384060,69.799300,2022-12-18 17:21:00+00:00
2022-12-18 17:22:00+00,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384120,70.068665,2022-12-18 17:22:00+00:00
2022-12-18 17:23:00+00,"192.168.13.126,502,9y,5,4,64,2",BHIWADI/9Y/126,5 STAND MILL DRIVE,Current,1671384180,70.299680,2022-12-18 17:23:00+00:00

In [47]:
df['Param_Name'].unique()

array(['Current', 'Reactive Power', 'Active Power',
       'Active Energy Consumption', 'Voltage L-N', 'Apparent Power',
       'Apparent Energy Consumption', 'PF'], dtype=object)

In [48]:
df_1 = df.pivot(index='time', columns='Param_Name', values='data')
df_1

Param_Name,Active Energy Consumption,Active Power,Apparent Energy Consumption,Apparent Power,Current,PF,Reactive Power,Voltage L-N
time,,,,,,,,
2022-12-18 17:18:00+00:00,4615239.0,6.626541,6152218.0,15.857847,NaN,NaN,14.464770,237.46355
2022-12-18 17:19:00+00:00,4615239.5,6.540069,6152219.0,15.636282,70.157555,NaN,14.202846,236.23029
2022-12-18 17:20:00+00:00,4615240.5,6.443836,6152220.5,15.288605,68.815506,NaN,13.872607,235.24898
2022-12-18 17:21:00+00:00,4615241.0,6.518550,6152221.0,15.510902,69.799300,NaN,14.074679,235.53998
2022-12-18 17:22:00+00:00,4615241.5,6.548756,6152222.0,15.582522,70.068665,NaN,14.139618,235.57341
...,...,...,...,...,...,...,...,...
2022-12-30 18:25:00+00:00,4656193.5,55.940517,6204470.5,72.451160,310.769470,0.769280,46.041603,239.09482
2022-12-30 18:26:00+00:00,4656197.0,56.753853,6204475.5,73.805660,316.301570,NaN,47.183422,238.98030
2022-12-30 18:27:00+00:00,4656201.0,56.791557,6204480.5,74.134080,316.029140,0.767824,47.650604,240.36157
2022-12-30 18:28:00+00:00,NaN,NaN,NaN,NaN,316.569600,0.764233,NaN,240.77034
2022-12-30 18:29:00+00:00,4656205.0,56.814200,6204485.0,74.370070,NaN,0.772723,47.990135,NaN

In [49]:
df_1.isnull().sum()

Param_Name
Active Energy Consumption       313
Active Power                    436
Apparent Energy Consumption     313
Apparent Power                  317
Current                         431
PF                             3256
Reactive Power                  313
Voltage L-N                     315
dtype: int64

In [50]:
df_1.describe()

Param_Name,Active Energy Consumption,Active Power,Apparent Energy Consumption,Apparent Power,Current,PF,Reactive Power,Voltage L-N
count,4.583000e+03,4460.000000,4.583000e+03,4579.000000,4465.000000,1640.000000,4583.000000,4581.000000
mean,4.635125e+06,44.629711,6.177527e+06,59.746956,253.876927,0.646381,38.373955,241.306287
std,1.253852e+04,33.110208,1.603152e+04,37.139917,156.107915,0.179634,19.945111,3.379793
min,4.615239e+06,3.369883,6.152218e+06,11.983474,54.162620,0.274998,11.499891,230.196210
25%,4.625600e+06,7.314923,6.165302e+06,18.076515,78.467750,0.414766,16.548523,239.005720
50%,4.631093e+06,65.052112,6.172428e+06,79.889800,337.022670,0.776633,44.822796,241.482850
75%,4.649044e+06,70.663414,6.195364e+06,88.989035,374.944670,0.794260,54.036981,243.616960
max,4.656205e+06,126.299430,6.204485e+06,154.360930,658.414860,0.827786,104.902080,252.514470